:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
//  color: var(--primary-main);
// background-color: red;
  height: 100vh;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding:0
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  height:100vh;
}

#root {
  width: 100%;
//max-width: 1280px;
  max-width: 100%; // afficher le site sur tout l'écran'*/
display: flex;
  flex-direction: column;
  height:100%;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: var(--background-default);
  padding:2rem;
  overflow: auto;
}

/* Accueil.css */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: calc(100vh - 64px);
  height: 100%;
  max-width:1280px;
  scrollbar-width: none; /* Masquer la barre de défilement pour Firefox */
  -ms-overflow-style: none; /* Masquer la barre de défilement pour Internet Explorer et Edge */
}

/* Pour Chrome, Safari et Opera */
main::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement */
}

.slider-image {
  width: 100%;
  height:auto;
  object-fit: contain;
  max-height: calc(100vh - 64px);
}


/* index.css */
.gallery-container {
  column-count: 4; /* Par défaut, 4 colonnes pour les écrans larges */
  column-fill: balance;
  column-gap: 1em;
}

.gallery-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  height: auto;
  transition: transform 0.3s ease; /* Transition pour l'animation */

}

.gallery-item:hover {
  transform: translateY(-10px); /* Soulève l'image de 10 pixels au survol */
}

.gallery-item img {
  width: 100%; /* L'image prend toute la largeur */
  height: auto; /* Conserve le ratio */
  display: block; border-radius:8px;
}

/* Pour les tablettes et les écrans moyens */
@media (max-width: 1024px) {
  .gallery-container {
    column-count: 3; /* Réduire à 3 colonnes */
  }
}

/* Pour les écrans petits (téléphones en mode paysage) */
@media (max-width: 768px) {
  .gallery-container {
    column-count: 2; /* Réduire à 2 colonnes */
  }
}

/* Pour les téléphones en mode portrait */
@media (max-width: 480px) {
  .gallery-container {
    column-count: 1; /* Afficher une seule colonne */
  }
}



.css-1kjdg3u-MuiTypography-root {
  margin-bottom: 0 !important; /* Forcer la suppression avec !important */
}

.css-xozrtb {margin:0 !important;}


